@font-face {
    font-family: JosefinSans;
    src: url(JosefinSans-Regular.ttf);
}

@keyframes bordercoloring {
    0% {
        border-color: crimson;
    }

    15% {
        border-color: orangered;
    }

    30% {
        border-color: gold;
    }

    45% {
        border-color: yellowgreen;
    }

    50% {
        border-color: seagreen;
    }

    65% {
        border-color: midnightblue;
    }

    70% {
        border-color: rebeccapurple;
    }

    85% {
        border-color: palevioletred
    }

    100% {
        border-color: crimson;
    }

}

* {
    margin: 0%;
    padding: 0%;
    font-family: JosefinSans;
}

body {
    background-color: lightgray;
}

.clear {
    clear: both;
}

.currentLink {
    color: #1CA68F;
    background-color: white;
}

header {
    position: sticky;
    padding: 20px;
    background-color: white;
    border-bottom: 5px solid #FFA883;
    box-shadow: 0px 0px 10px dimgray;
}

header h1 {
    color: #3EB7B2;
    display: inline;
    font-size: 45px;
    text-transform: uppercase;
}

header p {
    color: #3EB7B2;
    font-size: 20px;
    padding: 10px
}

section {
    padding-bottom: 100px;
    background-color: white;
    margin: 60px;
    border: 7px solid;
    animation-name: bordercoloring;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

nav {
    height: auto;

}

nav a {
    padding: 15px;
    font-size: 36px;
    background-clip: padding-box;
    background-color: #1CA68F;
    color: white;
    float: left;
    display: block;
    width: 33.333%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: none;
}

article {
    margin: 20px;
    clear: both;
}

article h2 {
    color: #1CA68F;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
}

article p {
    padding-left: 20px;
    margin-right: 10px;
    width: 50%;
    float: left;
    font-size: 20px;
}

article video,
article img {
    float: left;
    border-radius: 40px;
    border: 3px solid #1CA68F;
}


article button {
    color: white;
    background-color: #1CA68F;
    border: 5px solid #3EB7B2;
    padding: 5px;
    font-size: 20px;
    margin-top: 15px;
    transition: border 1s, background-color 1s;
}

footer {
    background-color: #FFA883;
    display: block;
    float: left;
    padding: 20px;
}

footer div {
    float: left;
    width: 50%;
}

footer h4 {
    color: white;
    font-size: 24px;
}

footer h5 {
    color: #1CA68F;
    font-size: 22px;
}

footer ul {
    list-style: none;
    padding: 10px;
}

footer p {
    width: 70%;
    font-size: 18px;
    padding: 10px;
}

button:hover {
    cursor: pointer;
    border: 5px solid rgb(255, 190, 162);
    background-color: #FFA883
}

nav a:hover {
    background-color: #3EB7B2;
    color: white;
}
